@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');

body{
  margin: 0;
  text-align: center;
  font-family: "Merriweather", sans-serif;
  background-color: powderblue;
  color: #40514E

}

.about h1{
  margin: 0;
  margin-top: 30px;
  font-size: 3.5rem;
  color: #66BFBF;
}

.about h2{
  color: #66BFBF;
  font-weight: normal;
}


h2, h3, a{
  color: #11999E;
}
.about p{
  font-size: 2.5rem;
}

.topcontainer{
  position: relative;
  padding-top: 100px;
}

.middlecontainer{
  
}

.bottomcontainer{
  
}

.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud{
  position: absolute;
  bottom: 200px;
  left: 300px;
}

.about{
  padding-top: 100px;
}

img{
  padding-bottom: 40px;
}

.skills h2{
  padding: 20px 0px;
  margin-bottom: 45px;
}

.skill-row{
  width: 50%;
  margin: 5px auto;
  text-align: left;
}

.skill-row p{
  line-height: 2;
}

.computer-img{
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
}
.chilli-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.computer-description{
  clear: left;
}

.chilli-description{
  clear: right;
}

/* style the horizontal line so it is a short line with dots in between */
hr{
  width: 10%;
  border-style: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: gray;
  height: 100px;
  border-bottom: 10px;
  border-style: dotted;
  margin-bottom: 50px;
  
}

.contact-me{
  padding: 50px;
  width: 40%;
  margin: 0 auto;
}

.contact-me p{
 margin-bottom: 50px;
 padding: 20px;
 line-height: 2;
}
.btn{
  padding: 15px;
  text-decoration: none;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-bottom: 20px;
}

.bottom-container{
  padding: 50px 20px;
  background-color: #66BFBF;
  margin-top: 20px;
}

.bottom-container a{
  padding: 20px;
  text-decoration: none;
}

.bottom-container p{
  padding-top: 20px;
  color: #fff;
}